/**
 * @name VSCode Palenight Light for BetterDiscord
 * @description Light variant
 * @author AntFleming0
 * @version 1.0.0
 * @source https://github.com/AntFleming0/BetterDiscordTheme
 * @website https://antfleming0.github.io/BetterDiscordTheme
 */

@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/base.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/colors.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/typography.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/components.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/animations.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/modules/loading-screen.css');
@import url('https://antfleming0.github.io/BetterDiscordTheme/src/variants/light.css');
